* text=auto

*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.properties text eol=lf
*.md text eol=lf
*.css text eol=lf
*.sql text eol=lf
*.sh text eol=lf

*.jar binary
*.p12 binary
*.pfx binary
*.jks binary
*.key binary
*.pem binary
